/* Styles */
* {box-sizing: border-box;}

body {
    background-color: darkgreen;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

main {
    background-color: green;
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: purple;
    border-radius: 50%;
    margin: 1rem;
}

nav a {
    display: flex;
    border: solid 2px black;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: goldenrod;
    font-size: x-large;
}

#deck {
    display: none;
    flex-flow: row wrap;
}

#shuffle {
    display: none;
}

#hit, #stay {
    display:none;
}


#player1, #dealer {
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid goldenrod;
    margin: 1rem auto 1rem auto;
    height: 100px;
    width: 50%;
    border-radius: 35%;
}
#dealer {
    border-color: black;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10%;
    height: 100px;
    width: 50px;
    margin: 1px;
}

.score {
    margin: auto 1rem auto 1rem;
    color: goldenrod;
    font-size: 3rem;
    background-color: purple;
    border-radius: 50%;
    border: 10px solid purple;
}